*{
    font-family: 'Titillium Web', sans-serif;
}

.titulos{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Inicio */
header {
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0)), url(../img/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}

header h1{
    font-size: 100px;
}

header p {
    font-size: 30px;
    margin-top: 40px;
}

.iconos{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.iconos:hover{
    color: lemonchiffon;
}

/* Acerca de Mi */
#acerca{
    height: 100vh;
    margin-top: 56px;
}

/* Estudios */
#estudios{
    height: 94vh;
    margin-top: 56px;
}

.card{
    max-width: 540px;
}

.tarjetas{
    margin-top: 15%;
}

/* Habilidades */
#habilidades{
    height: 94vh;
    margin-top: 56px;
}

.progress{
    margin-bottom: 30px;
}

/* Contacto */
.titulo-contacto{
    margin-top: 60px;
}

