*{
    font-family: 'Titillium Web', sans-serif;
}

.titulos{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Inicio */
header {
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0)), url(../img/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}

header h1{
    font-size: 100px;
}

header p {
    font-size: 30px;
    margin-top: 40px;
}

/* Acerca de Mi */


/* Estudios */


/* Proyectos */


/* Footer */
footer {
    background-color: black;
    padding: 10px;
    color: white;
}

.iconos{
    color: white;
}

.iconos:hover{
    color: lemonchiffon;
    transform: scale(1.10);
}